//http://naltatis.github.io/jade-syntax-docs/
extends ../layout
block content
    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
        div.container
            div.navbar-header
    div.jumbotron
        div.container
            div.starter-template
                h2= version
            div.editable= content
            input(type='hidden', id='project', value=project)
            input(type='hidden', id='version', value=version)
            //div.spa(ng-app="EazyNotes", ng-controller="UpdateController")
            //div.editable(ng-model="notes") "Add additional notes here or include a link to a wiki page!"
            //button.btn(ng-click="updateNotes()") Save
            h3 Stories
            ul.issues
                for story in stories
                    li
                        img(src=story.fields.issuetype.iconUrl)
                        a(href='http://jira/browse/' + story.key, target='new')= '[' + story.key + ']'
                        span= story.fields.summary
            h3 Chores
            ul.issues
                for chore in chores
                    li
                        img(src=chore.fields.issuetype.iconUrl)
                        a(href='http://jira/browse/' + chore.key, target='new')= '[' + chore.key + ']'
                        span= chore.fields.summary
            h3 Bugs
            ul.issues
                for bug in bugs
                    li
                        img(src=bug.fields.issuetype.iconUrl)
                        a(href='http://jira/browse/' + bug.key, target='new')= '[' + bug.key + ']'
                        span= bug.fields.summary