//http://naltatis.github.io/jade-syntax-docs/
extends ../layout
block content
    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
        div.container
            div.navbar-header
    div.jumbotron
        div.container
            div.starter-template
                h2= version
            h3 Stories
            ul.issues
                for story in stories
                    li
                        a(href='http://jira/browse/' + story.key, target='new')= '[' + story.key + ']'
                        span= story.fields.summary
            h3 Chores
            ul.issues
                for chore in chores
                    li
                        a(href='http://jira/browse/' + chore.key, target='new')= '[' + chore.key + ']'
                        span= chore.fields.summary
            h3 Bugs
            ul.issues
                for bug in bugs
                    li
                        a(href='http://jira/browse/' + bug.key, target='new')= '[' + bug.key + ']'
                        span= bug.fields.summary