//http://naltatis.github.io/jade-syntax-docs/
extends ../layout
block content
    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
        div.container
            div.navbar-header
    div.jumbotron
        div.container
            div.starter-template
                h2= version
            div.editable!= content
            input(type='hidden', id='project', value=project)
            input(type='hidden', id='version', value=version)
            h3 Release Items
            ul.issues
                for issue in issues
                    li
                        img(src=issue.fields.issuetype.iconUrl)
                        a(href='http://jira/browse/' + issue.key, target='new')= '[' + issue.key + ']'
                        span= issue.fields.summary
